/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
        /*Reset's every elements apperance*/
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: #26589F;
        font-family: 'PT Sans Narrow',sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
}


17
down vote
accepted
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*********STYLING BEGINGS************/
body {
	background-color: #C0D9ED;
	margin-top: 2%;
	cursor:url('initials.cur'), auto;
}
/**header styling begins**/
header {
	font-family: 'Oswald', sans-serif;
}

header a img {
	float: left;
	margin-left: 15%;
	width: 14%;
	margin-right: 2%;
}
#header {
	display: inline-block;
	width: 500px;
 }
header h1 {
	font-size: 300%;
	color: #212121;
}

header h2 {
	font-size: 130%;
	margin-top: 1%;
	margin-left: .5%;
}

header img {
	display: inline-block;
	float: right;
	width: 90px;
	margin-right: 5%;
}

/**mobile**/
@media (max-width: 700px) {

#portfolio-square {
	display: none;
}

header a img {
	width: 10%;
	margin-left: 25%;
	margin-top: 3%;
}

header h1 {
	font-size: 200%;
	margin-top: 3%;
}

header h2 {
	font-size: 100%;
}
		}


/**header styling ends**/

/**navigation styling begins**/
nav a {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #212121;
	text-align: left;
	display: block;
	margin: 10px;
}

nav ul {
	position: fixed;
	margin-top: 100px;
	margin-left: 8%;
	width: 15%;
}

nav a:hover {
	font-weight: bold;
	border-color: black;
	border-left: solid white 5px;
	padding-left: 5px;
	margin-left: -5%;
}

.actualpage{
	font-weight: bold;
	border-color: black;
	border-left: solid black 5px;
	padding-left: 5px;
	margin-left: -5%;
}

 .dropdown {
	 display:none;
}

/**mobile**/
@media (max-width: 600px) {

nav ul{
	display:none;
}

 .dropdown {
	 display: block;
	 position: relative;
		z-index: 1;
}

.dropbutton img{
	width: 40px;
	position: relative;
		margin-left: 20px;
		margin-top: -70px;
	display: block;
	background-color: #C0D9ED;
}

.dropdown-content {
  display: none;
	position: absolute;
		margin-top: -30px;
		margin-left: 5px;
  background-color: rgba(51, 51, 51, 0.6);
  width: 160px;
  height: 290px;
	padding-left: 10px;
  z-index: 2;
}

.dropdown-content a {
  color: #c0d9ec;
  text-decoration: none;
  text-align: center;
}

.dropdown-content p {
	border: 1px solid white;
	padding: 5px;
}

.dropdown-content p:hover{
  opacity: .8;
}

.dropdown:hover .dropdown-content {
    display: block;
}

}

/**navigation styling ends**/

/**main content styling begins**/

#backtohome a{
	font-family: 'Oswald',sans-serif;
	text-decoration: none;
	color: #313131;
	padding: 50px;
	margin-left: 40%;
	text-align: center;
	font-size: 22px;
}

#backtohome a:hover{
	color: white;
}
.pages ul img:hover{
	opacity: .8;
	-webkit-filter: grayscale(50%);
		position: relative;
}

.column1 img {
	width: 200px;
	-webkit-filter: grayscale(0%);
	opacity: 1;
}

.column2 img {
	width: 200px;
	-webkit-filter: grayscale(0%);
	opacity: 1;
}
.column1 {
	position: relative;
	margin-top: -10px;
	margin-left: 30%;
}

.column2 {
	postion: relative;
	margin-top: -520px;
	margin-left: 70%;
}

.column1 li, .column2 li{
	padding: 30px;
}

.column1 p, .column2 p {
	position: absolute;
	background-color: #a2c6dd;
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;
	color: white;
	width: 80px;
	text-align: center;
	padding: 15px;
	margin-top: -120px;
	margin-left: -140px;
}

.content img{
	display: block;
	width: 45%;
	margin-left: 24%;
	padding: 50px;
}

.content h3{
	font-family: 'Oswald',sans-serif;
	color: white;
	font-size: 35px;
	text-align: center;
	margin-top: 5%;

}

.content p {
	font-family: 'Titillium Web', sans-serif;
	line-height: 20px;
	color: #313131;
	width: 45%;
	padding: 30px;
	margin-left: 25%;
	text-indent: 50px;
}

.content a{
	font-family: 'Titillium Web', sans-serif;
	margin-left: 45%;
	color: white;
	text-decoration: none;
}

.content a:hover{
	color: #313131;
}

#profile-pic {
	width: 300px;
	margin-left: 35%;
}

/*tablet*/
@media (max-width: 1000px) {

.column1 {
	margin-left: 320px;
}
.column2 {
	margin-left: 320px;
	margin-top: 0px;
  }

	#profile-pic {
		width: 250px;
		margin-left: 27%;
	}

}

/**mobile**/
@media (max-width: 600px) {

.column1, .column2 {
		margin-left: 30%;
		margin-top: 50px;
		width: 150px;
	}

.content p {
	font-size: 12px;
	width: 80%;
	margin-left: 5%;
	text-indent: 0px;
}

.content img {
	width: 300px;
	margin-left: 8%;
	padding: 20px;
}

.content a{
	margin-left: 30%;
}

#backtohome a{
	margin-left: 25%;
}

#profile-pic img{
	width: 150px;
	margin-left: -5%;
}

}
/**main content styling ends**/



/**footer styling begins here**/
footer {
	float: left;
	position: fixed;
	bottom:0%;
	right: 0%;
	text-align: center;
	width: 150px;
}

footer a{
	display: inline-block;
	font-family: 'Myriad Pro', sans-serif;
	text-decoration: none;
	color: white;
	margin-bottom: 3%;
}

/**footer styling ends here**/
